* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.active {
  color: #ff523b;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p,
small {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 3rem;
  line-height: 3.1rem;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

/* categories */

.categories {
  margin: 70px 0;
}

/* featured product */
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

/* Latest product */

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 Auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 0.9rem;
}

.rating .fa {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* offer */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}

/* testimonial */

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 2rem;
  color: #ff523b;
}

.col-3 p {
  font-size: 0.8rem;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 1rem;
}

/*  brands */

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* footer */

.footer {
  background: black;
  color: #8a8a8a;
  font-size: 0.9rem;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 45px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.social li {
  font-size: 1.5rem;
  display: inline-block;
  margin: 10px;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 25px;
  margin-left: 20px;
  display: none;
}

/* all product page */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: white;
}

/* single product details */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px, 0;
  font-weight: bold;
  font-size: 1.4rem;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 20px;
  font-size: 1.3rem;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.single-product input:focus {
  outline: none;
}

.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* media quary for menu*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: rgba(51, 51, 51, 0.7);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* cart items */

.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 40px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 0.8rem;
}

td img {
  width: 80px;
  height: 80 px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

/* account page */

.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #a8a8a8;
}

form input::placeholder {
  color: #777;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 0.8rem;
}

#Indicator {
  width: 100px;
  border: none;
  background-color: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* contact page */

.contact-row {
  background: radial-gradient(#fff, #ffd6d6);
}

.contact-title {
  text-align: center;
}

.contact-title h2 {
  font-size: 2rem;
}

.contact-img {
  width: 600px;
  text-align: center;
}

.contact-img img {
  width: 100%;
}

.contact {
  padding: 50px 0;
}

.container {
  width: 80%;
}

.map-area {
  width: 100%;
  margin-top: 80px;
  box-shadow: -5px -5px 10px 1px grey;
}

.map-area iframe {
  width: 100%;
  margin: auto;
}

.address-area-row {
  margin-bottom: 100px;
  margin-top: 100px;
}

.container .col-2 {
  flex-basis: 48%;
}

.address-area {
  margin: 20px 0;
}

.address-area h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.address-area .address {
  margin-bottom: 30px;
}

.address-area .phone {
  margin-bottom: 30px;
}

.address-area .fa {
  color: #ff523b;
  margin-right: 10px;
}

form h2 {
  color: #555;
}

.contact input::placeholder {
  color: rgb(71, 68, 68);
}

.form-area {
  box-shadow: -5px -5px 10px 1px grey;
  padding: 10px;
  margin-left: 50px;
}

.form-area input,
.form-area textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 1px solid #8b8787;
  background: #f0f0f0;
}

textarea {
  resize: none;
}

textarea::placeholder {
  color: rgb(60, 57, 57);
  font-size: 1rem;
}

.news {
  color: #555;
  width: 100%;
  display: flex;
  text-align: left;
  margin: 10px 0;
}
.news input[type="checkbox"] {
  width: 30px;
  margin: 0 10px;
  background-color: #002b4e !important;
  color: white;
}

.form-area .btn {
  width: 100px;
  font-size: 1rem;
}

/* about */

.about-row {
  background: radial-gradient(#fff, #ffd6d6);
}

.about-title {
  text-align: center;
}

.about-title h2 {
  font-size: 2rem;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 50%;
}

.about {
  padding: 50px 0;
}

.who {
  margin-bottom: 20px;
}

.about .container .row p {
  text-align: justify;
}

.row-moto {
  padding: 50px 0;
}

.col-moto {
  display: flex;
  justify-content: space-between;
}

.moto-img {
  width: 40%;
  margin-top: 50px;
}

.moto-img img {
  width: 100%;
}

.moto-text {
  width: 60%;
  margin: 20px 0 20px 30px;
  padding: 30px;
}

.moto-text h3 {
  text-align: left;
}

.row-moto .col-moto .moto-text > p {
  text-align: justify;
  margin-top: 20px;
}

.col-vision {
  display: flex;
  justify-content: space-between;
}

.vision-img {
  width: 40%;
}

.vision-img img {
  width: 100%;
}

.vision-text {
  width: 60%;
  margin: 20px 30px 20px 0;
  padding: 30px;
}

.row-vision .col-vision .vision-text > p {
  text-align: justify;
  margin-top: 20px;
}

/* media quary for 600px */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }

  .single-product h1 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .cart-info p {
    display: none;
  }

  .contact-img {
    width: 400px;
  }

  .form-area {
    margin-left: 0;
  }

  /* about */

  .container {
    width: 90%;
  }

  .about-title h2 {
    font-size: 1.5rem;
    margin-top: 40px;
  }
  .col-moto {
    flex-direction: column;
  }

  .moto-img {
    width: 100%;
  }

  .moto-text {
    width: 100%;
  }

  .col-vision {
    flex-direction: column;
  }

  .vision-img {
    width: 100%;
  }

  .vision-text {
    width: 100%;
  }

  .who {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
